<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573610843540-d4oh6e4rubpit63snjllnmd4aoa05gq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573610843540-d4oh6e4rubpit63snjllnmd4aoa05gq1</string>
	<key>API_KEY</key>
	<string>AIzaSyCGxdQG5VDPcXksgJ2zfHHj-Cx_o1QS1_E</string>
	<key>GCM_SENDER_ID</key>
	<string>573610843540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmg.Aasan-ios-todo</string>
	<key>PROJECT_ID</key>
	<string>aasan-ios-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>aasan-ios-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573610843540:ios:b80cdd0d2637da62604381</string>
</dict>
</plist>